* {
    margin: auto;
    height: auto;
}

table{
    border-color: 3px gray;
}

.modal-button{
    margin-left: 1350px;
    margin-top: 50px;
}

th.actions{
    align-content: center;
} 

.ui-autocomplete{
    z-index: 9999 !important;
}