<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
     <!-- librerias -->
     <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/litera/bootstrap.min.css" rel="stylesheet">
     <!-- ajax -->
     <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
     <!-- Script -->
     <script src='/js/Seguridad/User.js'></script>
</head>
<body>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Cabezera del Modal -->
        <div class="modal-header">
          <!-- Titulo del Modal -->
          <h1 class="modal-title fs-5" id="exampleModalLabel">Registro: Ciudad</h1>
          <!-- Boton de cerrar Modal "X" -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- Cuerpo del Modal -->
        <div class="modal-body">
          <div id="inputData">
            <!-- Formulario -->
            <form>
                <fieldset>
                    <legend>User Details</legend>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-10">
                            <input type="hidden" name="id" id="id" value="">
                            <input type="text" class="form-control" name="username" id="username" value="" placeholder="Username">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="password" id="password" value="" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">person</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="person">
                                <option selected>--Seleccione mano--</option>
                                <!-- Aquí puedes cargar las ciudades desde el backend -->
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Role</label>
                        <div class="col-sm-10">
                            <select class="form-select" id="role">
                                <option selected>--Seleccione mano--</option>
                                <!-- Aquí puedes cargar las ciudades desde el backend -->
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-10">
                        <br>
                        <select class="form-select" id="state">
                            <option selected>--Seleccione--</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </fieldset>
            </form>
            <!-- Final formulario -->
          </div>
        </div>
        <!-- Final cuerpo Modal -->
        <div class="modal-footer">
          <!-- Botones de acciones del Modal -->
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button name="btnAgregar" onclick="save()" class="btn btn-success">Agregar</button>
        </div>
      </div>
    </div>
    </div>
    <!-- Final Modal -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
        <div id="outputData">
            <br>
            <thead>
            <table class="table table-hover">
                <tr class="table-dark">
                    <th>Username</th>
                    <th>Password</th>
                    <th>Person</th>
                    <th>Role</th>
                    <th>State</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody id="resultData">
            </tbody>
            </table>
        </div>
    
</body>
<script>
    loadData();
    loadPerson();
    loadRole();
</script>
</html>